# ===================================================================
# artellapipe-tools-artellamanager requirements file
# ===================================================================

artellapipe-tools-assetslibrary